.container {
    display: flex;
    height: 100vh;
    background-color: #f8fbff;
    font-family: 'Segoe UI', sans-serif;
}

.content {
    flex: 1;
    padding: 50px;
    color: #0f172a;
}

.pageTitle {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
}